/** http://www.colourlovers.com/palette/1066560/happy_twentyten!
 */

h1 {
  padding: 5px;
  border-left: 5px solid #D11E48;
}

h2 {
  padding: 5px;
}

.navbar {
  margin-bottom: auto;
}

#log {
  height: 200px;
  text-overflow: scroll;
}

.game {
  float: left;
  background: #410936;
  color: white;
  margin: 10px;
}

.current-player {
  font-style: italic;
}

.board {
  background: white;
  transform: rotate(-90deg);
  height: 280px;
  width: 240px;
  padding: 2px;
  margin: 0 40px;
}

.board div {
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
}
.board span {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 20px;
  display: block;
}

.red {
  background: #E46F0A;
}

.green {
  background: #A40B54;
}
